<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Difumipage</title>
    <link rel="stylesheet" href="/Styles/Style.css">
</head>
<body>
    <div id="container">
        <header>
            <img src="/IMG/Logo.jpg" alt="Logo" class="logo">
            DIFUMINA2
        </header>
        
    <nav>
        <ul>
            <li><a href=""></a>Inicio</li>
            <li><a href=""></a>Escuchanos</li>
            <li><a href=""></a>Miembros</li>
            <li><a href=""></a>Tienda</li>
        </ul>
    </nav>

    <div class="clearfix"></div>
    <section class="content">
        <article class="article">
            <h2>Nicolas Vocalista</h2>
            <p>Es gay</p>
            <br>
        </article>

        <article class="article">
            <h2>Es gay</h2>
            <p>Es gay</p>
            <br>
        </article>

        <article class="article">
            <h2>Perchar Pianista</h2>
            <p>Es gay</p>
            <br>
        </article>

        <article class="article">
            <h2>Luis Bajista</h2>
            <p>Es gay</p>
            <br>
        </article>
        <article class="article">
            <h2>Juan Diego Guitarrista</h2>
            <p>Es gay</p>
            <br>
        </article>

        <article class="article">
            <h2>Alan Guitarrista</h2>
            <p>Es gay</p>
            <br>
        </article>
    
    </section>



    <footer>
        Alan Toro &copy;2024
    </footer>

    
    </div>
</body>
</html>