body{

        background-image: url('/IMG/Barnaby1.jpg');
        background-size: cover; /* Hace que la imagen cubra todo el área */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que la imagen se repita */
    }  

#container{
            
        width: 680px;
        margin:0px auto;
        border: 1px black;
        color: aliceblue
    }

    header{
        background-color:black;
        height: 100px;;
        color: aliceblue;
        text-align: center;
        line-height:100px;
        border-bottom: dashed rgb(46, 42, 42);
        display: flex;
        align-items: center; /* Centra la imagen y el texto verticalmente */
        justify-content: center; /* Centra todo el contenido horizontalmente */
        gap: 10px; /* Espacio entre la imagen y el texto */
    }

    .logo {
        width: 80px; /* Ajusta el tamaño de la imagen según lo necesites */
       
    }

    nav{
        background-color:rgb(37, 20, 37);
        height:50px;
        border-bottom:1px solid white;
        display: flex;
        align-items: center; /* Centra la imagen y el texto verticalmente */
        justify-content: center;
      
    
    }

    nav ul li{
        float: left;
        list-style:none;
        margin:10px;
        line-height:30px;
    }

  
    .clearfix{
        clear: both;
    }

    #content{
        float: left;
        width: calc(80% -80px);
        min-height:500;
        background-color:rgb(37, 20, 37);
        padding: 40px;
        height: 400px;

        
    }



    footer{
        background-color: black;
        color: aliceblue;
        text-align: center;
        height: 50px;
        line-height:50px;
        border :1px solid white;
        

    }

    .article{
        color: aliceblue;
        margin-top:15px;
        margin: bottom 15px;
        padding-bottom:10px;
        border-bottom:1px solid black;

    }

    .article:first-child{
        padding: top 10px;;
        border-top:1px solid black;
    }

    article h2{
        font: size 35px;;
    }
